extends layout
block content
    if email
      h1 Welcome back #{email}
      a#logoutlink(href='logout') Log Out
    else 
      h1 Hello Stranger!
      a#signupLink(href='signup') Sign Up    
      a#loginlink(href='login') Log In
    